<div id="container">
  <div id="header">
    <h1>Hair Salon Portal <span id="faux_hair">---<span class="glyphicon glyphicon-scissors"></span>------</span></h1>
  </div>

  <br>

  <div class="wrapper">
    <div class="add_object">
      <h3>Add a <span class="title">stylist</span>:</h3>
      <form action="/stylists" method="post">
        <label for="first_name">First name:</label>
        <input type="text" name="first_name" required>

        <label for="last_name">Last Name:</label>
        <input type="text" name="last_name" required>

        <label for="phone_num">Phone Number:</label>
        <input type="text" name="phone_num" required>

        <button id="stylist_button" type="submit" name="button">Add stylist</button>
      </form>
    </div>

    <hr>

    <% if @stylists.any?() %>
    <h3 class="table_title">Manage your stylists</h3>
      <table>
        <tr id="table_nav_stylist">
          <td>NAME</td>
          <td>PHONE</td>
          <td>EMPLOYED</td>
        </tr>
        <% @stylists.each() do |stylist| %>
          <tr>
            <td>
              <div class="stylist_table_data">
                <a href="/stylists/<%= stylist.id() %>"><%= stylist.first_name() %> <%= stylist.last_name() %></a>
              </div>
            </td>
            <td>
              <div class="stylist_table_data">
                <%= stylist.phone_num() %>
              </div>
            </td>
        </form>
            <td>
              <form action="/stylists/<%= stylist.id() %>" method="post">
                <input name="_method" type="hidden" value="delete">
                <button class="delete_button" type="submit">REMOVE</button>
              </form>
            </td>
          </tr>
        <% end %>
      </table>
    <% else %>
      <h3>There are no stylists in the database. <span class="add_prompt">Please document your employees.</span></h3>
    <% end %>
  </div>

  <% if @stylists.any?() %>

    <hr class="alt_hr">
    <br>

    <div class="wrapper">
      <div class="add_object">
        <h3>Add a <span class="title">client</span>:</h3>
        <form action="/clients" method="post">
          <label for="first_name_client">First name:</label>
          <input type="text" name="first_name_client" required>
          <label for="last_name_client">Last Name:</label>
          <input type="text" name="last_name_client" required>
          <label for="phone_num_client">Phone Number:</label>
          <input type="text" name="phone_num_client" required>
          <button id="client_button" type="submit" name="button">Add client</button>

          <br>
          <br>

          <label for="typical_package">Typical Package:</label>
          <select name="typical_package">
            <option value="Cut and Style">Cut and Style</option>
            <option value="Color">Color</option>
            <option value="Highlights">Highlights</option>
            <option value="Blowout">Blowout</option>
            <option value="Hair Extensions">Hair Extensions</option>
          </select>
          <label for="stylist_id">Prefered Stylist:</label>
          <select name="stylist_id">
            <% @stylists.each() do |stylist| %>
                <option value='<%= stylist.id() %>'><%= stylist.first_name() %> <%= stylist.last_name() %></option>
            <% end %>
          </select>
        </form>
      </div>

      <hr>

      <% if @clients.any?() & @stylists.any?() %>
        <h3 class="table_title">Manage your clients</h3>
        <table>
          <tr id="table_nav_client">
            <td>NAME</td>
            <td>PHONE</td>
            <td>TYPICAL PACKAGE</td>
            <td>PREFERED STYLIST</td>
            <td>ENROLLED</td>
          </tr>
          <% @clients.each() do |client| %>
            <tr>
              <td>
                <div class="client_table_data">
                  <a href="/clients/<%= client.id() %>"><%= client.first_name() %> <%= client.last_name() %></a>
                </div>
              </td>
              <td>
                <div class="client_table_data">
                  <%= client.phone_num() %>
                </div>
              </td>
              <td>
                <div class="client_table_data">
                  <%= client.typical_package() %>
                </div>
              </td>
              <td>
                <div class="client_table_data">
                  <% if Stylist.find(client.stylist_id().to_i()) %>
                    <%= Stylist.find(client.stylist_id().to_i()).first_name() %>
                    <%= Stylist.find(client.stylist_id().to_i()).last_name() %>
                  <% else %>
                    None
                  <% end %>
                </div>
              </td>
              <td>
                <form action="/clients/<%= client.id() %>" method="post">
                  <input name="_method" type="hidden" value="delete">
                  <button class="delete_button" id="delete_client" type="submit">REMOVE</button>
                </form>
              </td>
            </tr>
          <% end %>
        </table>
      <% else %>
        <h3>There are no clients in the database. <span class="add_prompt">Please document your customers.</span></h3>
      <% end %>
    <% end %>
  </div>

</div>
